
<nav style="z-index: 5;" class="navbar navbar-expand-lg bg-body-tertiary position-fixed top-0 w-100">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink=""><i class="fa-solid fa-crown me-1"></i>Style Guru</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <input style="width: 500px;" type="text" class="form-control" placeholder="Search Produts">
          </li>
        </ul>
        <div class="d-flex align-item-center ms-3" role="search">
          <a routerLink="/wishlist" class="btn btn-outline-secondary"><i class="fa-solid fa-heart text-danger"></i>Wishlist<span class="badge text-bg-secondary ms-1">{{wishlistCount}}</span></a>
          <a routerLink="/cart" class="btn btn-outline-secondary ms-1"><i class="fa-solid fa-cart-plus text-primary"></i>Cart<span class="badge text-bg-secondary ms-1">{{cartCount}}</span></a>
          <a *ngIf="!username" routerLink="/login" class="btn ms-1"><i class="fa-solid fa-user text-primary me-1"></i>Login</a>
          <div *ngIf="username" class="ms-1">
            <span class="fw-bolder"><i class="fa-solid fa-user text-primary me-1"></i>Hi, {{username}}</span>
            <button (click)="logout()" class="btn btn-outline-primary ms-1">Logout</button>
          </div>
        </div>
      </div>
    </div>
</nav>
