<div class='footer bg-dark text-light' style="padding-top: 20px;" >
    
    <div style="height: 300px;" class='p-4 mt-5 w-100 '>
        <div class='footer-content d-flex justify-content-between '>
            <div style="width: 400px;" class="media">
                <h3 class='d-flex'><i class="fa-solid fa-crown me-1"></i>Style Guru</h3>
                <p style="text-align: justify;" >Designed and built with all the love in the world by the Luminar team with the help of our <br /> contributors.</p>
                <p>Code licensed Luminar,docs CC BY 3.0 <br /><br />Currently v5.3.2.</p>
            </div>
            <div class="links d-flex flex-column">
                <h3>Help</h3>
                <a class="mt-2" style="text-decoration: none;color: blue;" routerLink="" >Home</a>
                <a class="mt-2" style="text-decoration: none;color: blue;" routerLink="/wishlist" >Wishlist</a>
                <a class="mt-2" style="text-decoration: none;color: blue; " routerLink="/cart" >Cart </a>
            </div>
            <div class="address d-flex flex-column">
                <h3  >Registered Address</h3>
                <h5 class="mt-2">Manhattan PO</h5>
                <h5 class="mt-2">Near Center Square</h5>
                <h5 class="mt-2">679006</h5>
            </div>
            <div class="contact">
                <h3 >Contact Us</h3>
               <div class='d-flex'>
                <input type="text" class='form-control me-1' placeholder='Email Id '/>
                <button class='btn btn-warning' ><i class='fa-solid fa-arrow-right'></i></button>
               </div>
               <div class='icon d-flex justify-content-between mt-3'>
               <a routerLink="https://react.dev/" target='-blank' > <i class='fa-brands fa-twitter fa-1x'></i></a>
               <a routerLink="https://react.dev/" target='-blank' > <i class='fa-brands fa-instagram fa-1x'></i></a>

               <a routerLink="https://react.dev/" target='-blank'> <i class='fa-brands fa-facebook fa-1x'></i></a>

               <a routerLink="https://react.dev/" target='-blank' > <i class='fa-brands fa-linkedin fa-1x'></i></a>

               <a routerLink="https://react.dev/" target='-blank' > <i class='fa-brands fa-github fa-1x'></i></a>

               <a routerLink="https://react.dev/" target='-blank' > <i class="fa-solid fa-phone fa-1x"></i></a>

                </div>
            </div>
        </div>
        <p  class="text-center ">All Rights Reserved &copy; 2024 Style Guru. Built with Angular.</p>

        </div>
    
    </div>
