<app-header></app-header>

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div *ngIf="allProducts.length>0">
            <h1 class="text-primary">Your Wishlist</h1>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div *ngFor="let product of allProducts" class="col mb-5">
                    <div class="card h-100 p-1">
                        <!-- Product image-->
                        <img height="200px" routerLink="/{{product.id}}/view" style="cursor: pointer;" class="card-img-top" [src]="product.image" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{product.title.slice(0,20)}}...</h5>
                                <!-- Product price-->
                                ${{product.price}} 
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="d-flex justify-content-around">
                            <button (click)="deleteWishlist(product._id)" class="btn"><i class="fa-solid fa-heart-circle-xmark text-danger"></i></button>
                            <button (click)="AddToCart(product)" class="btn"><i class="fa-solid fa-cart-plus text-success"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="allProducts.length==0">
           <div style="height: 80vh;" class="d-flex justify-content-center align-items-center flex-column">
              <img width="400px" src="https://cdn-icons-png.flaticon.com/512/11329/11329060.png" alt="">
              <h1>Your Wishlist is Empty!!!</h1>
           </div>
        </div>
    </div>
</section>