<app-header></app-header>

<div style="height: 100vh;" class="w-100 d-flex flex-column justify-content-center align-items-center">
  <div class="row border shadow rounded w-75" style="background-color:beige;">
     <div class="col-lg-6">
        <div style="height: 100%;" class="w-100 d-flex justify-content-center align-items-center flex-column">
            <h4>Welcome User!!!</h4>
            <form (ngSubmit)="login()" [formGroup]="loginForm" class="mt-3 container w-100">
                <div class="form-floating mb-3">
                    <input name="email" formControlName="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                  </div>
                  <div *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched" class="text-danger fw-bolder mb-2">*Invalid Email</div>

                  <div class="form-floating">
                    <input name="password" formControlName="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                  </div>
                  <div *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched" class="text-danger fw-bolder mb-2">*Invalid Password</div>

                  <div class="mt-3">
                    <button type="submit" class="btn btn-primary">Login</button>
                  </div>
            </form>
            <p>New User? Click here to <a routerLink="/register">Register</a> </p>
        </div>
     </div>
     <div class="col-lg-6">
        <img class="img-fluid" src="https://cdni.iconscout.com/illustration/premium/thumb/secure-login-7230052-5874827.png?f=webp" alt="login-img">
     </div>
  </div>
</div>

