<app-header></app-header>

<section class="py-5">
    <div class="container mt-5">
        <div *ngIf="yourCart.length!=0">
            <h1>Cart Summary</h1>
            <div class="row mt-3">
                <div class="col-lg-8">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Item Name</th>
                                <th>Image</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>...</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of yourCart;let i=index;">
                                <td>{{i+1}}</td>
                                <td>{{product.title.slice(0,20)}}...</td>
                                <td> <img width="50px" height="50px"
                                        [src]="product.image"
                                        alt=""> </td>
                                <td>
                                    <div class="d-flex">
                                        <button (click)="decrementCart(product._id)" class="btn fw-bolder">-</button>
                                        <input style="width: 35px;" [value]="product.quantity" type="text" readonly>
                                        <button (click)="incrementCart(product._id)" class="btn fw-bolder">+</button>
                                    </div>
                                </td>
                                <td>${{product.totalPrice}}</td>
                                <td>
                                    <button (click)="removeItem(product._id)" class="btn"><i class="fa-solid fa-trash text-danger"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="float-end">
                        <button (click)="emptyCart()" class="btn btn-danger">EMPTY CART</button>
                        <button routerLink="/" class="btn btn-success ms-2">SHOP MORE</button>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="border shadow rounded p-3">
                        <h3>Cart Total : <span class="text-danger">$ {{cartTotalPrice}}</span> </h3>
                        <!-- coupon -->
                        <h6 *ngIf="!couponStatus" (click)="getCoupon()">Click here to view <span class="btn btn-link text-primary"><i class="fa-solid fa-tag"></i>Offers</span></h6>
                        <div *ngIf="couponStatus" class="d-flex justify-conent-evenly mt-3">
                            <!-- no offer -->
                            <ng-container *ngIf="cartTotalPrice<50">
                                <p class="text-primary">Sorry,No More offers for this purchase</p>
                                <button (click)="backToOfferBtn()" class="btn btn-link text-danger">Back To Offers</button>
                            </ng-container>
                            <!-- 5% -->
                            <ng-container *ngIf="cartTotalPrice>=50 && cartTotalPrice<250 && !couponClickStatus">
                                <img (click)="percentage5Discount()" width="150px" height="100px" src="https://st.depositphotos.com/1036174/1343/i/450/depositphotos_13433522-stock-photo-red-tag-5.jpg" alt="coupon 5%">
                            </ng-container>
                            <!-- 20% -->
                            <ng-container *ngIf="cartTotalPrice>=250 && cartTotalPrice<500 && !couponClickStatus">
                                <img (click)="percentage20Discount()" width="150px" height="100px" src="https://www.shutterstock.com/image-vector/special-offer-20-off-label-600nw-1060049819.jpg" alt="coupon 20%">
                            </ng-container>
                            <!-- 50% -->
                            <ng-container *ngIf="cartTotalPrice>=500 && !couponClickStatus">
                                <img (click)="percentage50Discount()" width="150px" height="100px" src="https://t3.ftcdn.net/jpg/01/99/21/14/360_F_199211488_Qa6BvQJV2Q8BY6b4jP4Yk0k8Zlo0GN1X.jpg" alt="coupon 50%">
                            </ng-container>
                        </div>
                        <hr>
                        <div class="d-grid">
                            <button (click)="checkout()" class="btn btn-primary">Check out</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="yourCart.length==0" style="height: 80vh;" class="d-flex justify-content-center align-items-center flex-column">
            <img width="400px" src="https://cdn-icons-png.flaticon.com/512/11329/11329060.png" alt="empty cart">
            <h1>Your Cart is Empty!!!</h1>
        </div>
    </div>
</section>
