<app-header></app-header>
<div>
    <header class=" py-5">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img height="300px" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/cf8c5599420499.5f09d760d115b.jpg" class="d-block w-100" alt="banner">
              </div>
              <div class="carousel-item">
                <img height="300px" src="https://png.pngtree.com/thumb_back/fw800/background/20201022/pngtree-black-friday-sale-website-concept-banner-background-with-shopping-cart-image_430149.jpg" class="d-block w-100" alt="banner">
              </div>
              <div class="carousel-item">
                <img height="300px" src="https://www.orchardtaunton.co.uk/app/uploads/2020/03/OSC-Spring-Generic-2020-Website-Shopping-Banner-01.jpg" class="d-block w-100" alt="banner">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </header>
    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div *ngFor="let product of allProducts" class="col mb-5">
                    <div class="card h-100 p-1">
                        <!-- Product image-->
                        <img height="200px" routerLink="/{{product.id}}/view" style="cursor: pointer;" class="card-img-top" [src]="product.image" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{product.title.slice(0,20)}}...</h5>
                                <!-- Product price-->
                                ${{product.price}} 
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="d-flex justify-content-around">
                            <button (click)="addToWishlist(product)" class="btn"><i class="fa-solid fa-heart text-danger"></i></button>
                            <button (click)="AddToCart(product)" class="btn"><i class="fa-solid fa-cart-plus text-success"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>